$omouLightBlue: rgba(67, 181, 217, 0.5);

.header {
    font-size: 50px;
    font-style: normal;
    font-weight: 220;
    line-height: 109px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 5%;
    &.left {
        color: black;
    }
    &.right {
        color: #1f82a1;
    }
}
.image {
}
.bodyContainer {
    padding-top: 10%;
    padding-bottom: 8%;
    align-content: center;
    .bodybox {
        align-content: center;
        margin: auto;
        padding: 1em;
        .body {
            font-family: Montserrat;
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 156.31%;
        }
    }
    .heading {
        font-style: normal;
        font-weight: 300;
        font-size: 23px;
        line-height: 156.31%;
        padding-top: 4%;
        color: #1f82a1;
    }
}
.quotebox {
    padding: 10%;
    background-color: #fafafa;
    text-align: center;
    .quote {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
    }
    .author {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        padding-top: 5%;
    }
}

.whyomoutext {
    color: white;
    font-size: 14rem;
    text-shadow: -8px -8px 0 $omouLightBlue, 0 -2px 0 $omouLightBlue,
        2px -2px 0 $omouLightBlue, 2px 0 0 $omouLightBlue,
        2px 2px 0 $omouLightBlue, 0 2px 0 $omouLightBlue,
        -2px 2px 0 $omouLightBlue, -2px 0 0 $omouLightBlue;
}

.whoweare {
    font-size: 8rem;
    color: $omouLightBlue;
}
