.top{
    width:100%;
    height:60vh;
    background-color:white;
    .topContent{
        padding:10%;
        text-align:left;
        .upper{
            font-size:50px;
            font-weight:bold;
        }
        .bottom{
            padding-top:20px;
            font-size:20px;
        }
    }
}
.mid{
    width:100%;
    height:90vh;
    text-align:center;
    background-color:#43B5D9;
.scheduleImage{
    width: 50vh;
    height: 30vh;
    margin-top: 10vh;
}
.title1{
    margin-top: 3vh;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.content1{
    margin-top: 3vh;
    font-size: 18px;
    line-height: 24px;
}


}


.transform-colors {
    animation: pulse 5s infinite;
  }
  @keyframes pulse {
    0% {
      color: #53A9D0;
    }
    25% {
      color: #599349;
    }
      75% {
      color: #F1974A
    }  
    100% {
      color: #CE6764;
    }
  }



  